server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: smart-campus-backend

  data:
    mongodb:
      uri: ${MONGODB_URI}

  # Disable Spring Security auto-config login page for REST API development
  security:
    user:
      name: admin
      password: admin

logging:
  level:
    root: INFO
    com.smartcampus: DEBUG
